#include	"resource.h"
#include	<windows.h>

LIGHTICON	ICON	"Light.ico"
DARKICON	ICON	"Dark.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION		1,0,0,0
PRODUCTVERSION	1,0,0,0
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004b0"
		{
			VALUE	"Comments",			""
			VALUE	"CompanyName",		"Narezzurri"
			VALUE	"FileDescription",	"A simple timer based on command line"
			VALUE	"FileVersion",		"1.0.0"
			VALUE	"InternalName",		"Timer"
			VALUE	"LegalCopyright",	"Copyright (C) 2026 Narezzurri. All rights reserved."
			VALUE	"LegalTrademarks",	""
			VALUE	"OriginalFilename",	"Timer"
			VALUE	"ProductName",		"Timer"
			VALUE	"ProductVersion",	"1.0.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE	"Translation",0x0000,0x04b0					// Language Neutral
	}
}
